@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#rodape {
    background-color: rgba(0, 170, 158);
}

.card {
    /*Define uma altura mínima para todos os cartões de 50% da altura tota da tela. */
    min-height: 25vh;
}

h5 {
    font-family: "Playfair Display", serif;
}
 
iframe {
    /* Mapa ocupa 100% da largura da tela */
    width: 100%;
    /* Mapa ocupa 90% da largura. Usamos '90%' para não sobrepor o título do cartão (Localização) */
    height: 90%;
    /* Posiciona o mapa à partir do rodapé do cartão */
    position: absolute;
    bottom: 0;
}